@import "tailwindcss";

body {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='80' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23030508ff'/><path d='M50 50H30v10H20m30-10v10h10V50h10V30H60V20H50v10H30V20H20v10H10v20h10v10m60 20H50V70h10V60h10v10h10M20 60v10h10v10M0 70h10V60h10M50 0v10h10v10h10V10h10M0 10h10v10h10V10h10V0M0 40V0h40m40 40H0v40h40V0h40v80H40'  stroke-linecap='square' stroke-width='0.5' stroke='%2302110aff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='80' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23f6faf9ff'/><path d='M50 50H30v10H20m30-10v10h10V50h10V30H60V20H50v10H30V20H20v10H10v20h10v10m60 20H50V70h10V60h10v10h10M20 60v10h10v10M0 70h10V60h10M50 0v10h10v10h10V10h10M0 10h10v10h10V10h10V0M0 40V0h40m40 40H0v40h40V0h40v80H40'  stroke-linecap='square' stroke-width='0.5' stroke='%23f4f8f9ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
}

::-webkit-scrollbar {
  width: 0.7vw;
  height: 0.7vw;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 100vw;
}

@theme {
  --color-bg: #030508;
  --color-primary: #1be9b6;
  --color-secondary: #e3eae9;

  --shadow-box: 0 4px var(--color-secondary);
}

@layer components {
  .head {
    @apply mb-4 text-xl text-secondary font-bold border-b-2 border-secondary;
  }

  .card {
    @apply p-5 text-secondary bg-bg border-2 border-secondary rounded-sm shadow-box;
  }

  .link {
    @apply text-secondary hover:text-primary;
  }
}
