@import "tailwindcss";

body {
  @apply bg-bg;
}

@theme {
  --color-bg: #030508;
  --color-primary: #46cf8f;
  --color-secondary: #d1f2eb;

  --shadow-box: 5px 5px #46cf8f;
}

@layer components {
  /* spacing */
  .hp {
    @apply px-28;
  }

  /* typography */
}
